<!DOCTYPE html>
<html>
<body>
	Hello,<br>
	Requested appointment for following details :
	<p>Name: <%= @appointment.name%></p>
	<p>Phone: <%= @appointment.phone%></p>
	<p>Email: <%= @appointment.email%></p>
	<p>Reason for appointment: <%= @appointment.reason%></p>

</body>
</html>