<p id="notice"><%#= notice %></p>
<%= link_to new_user_path, class: "btn btn-circle btn-success btn-lg pull-right" do %>
  <i class="fa fa-plus"></i>
<%end%>
<div class="search_css pull-right">
  <%= text_field_tag 'search','', id: "search_data",placeholder: 'Search by Name/ID' %>
</div>
<div class="" style="font-size: 20px;"><b>Users</b></div>
<br>
<hr>
<div id = "users_data"> 
<%= render 'users'%>
</div>
<br>

<script type="text/javascript">
  $("#search_data").on('input',function(){
    var str = $(this).val();
    var Vurl = "/users"+"?search_data="+str;
    $.ajax({
      type: "GET",
      url: Vurl,
      dataType: "script"
    });
  });
</script>

<style type="text/css">
  .search_css{
    padding-right: 20px;
  }
</style>